@import url("./css/dark-hc.css");
@import url("./css/dark-mc.css");
@import url("./css/dark.css");

@import url("./css/light-hc.css");
@import url("./css/light-mc.css");
@import url("./css/light.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

